*{
    margin:0;
    padding: 0;
}
body{
    background-color:rgb(126,164,179);
    color:rgb(236, 241, 243);
    margin:50px 50px;
    text-align: left;
    background-repeat: repeat;
    font-family: serif;
}
h1{
    color:rgb(7,72,102);
    text-align: center;
    font-size:50px;
    text-shadow: 5px 9px 10px aliceblue;
}
.cl{
    align-items: center;
}
#image{
    width:330px;
    float:right;
   margin-bottom:96px;
   margin-top:8px;
}
p, li{
    font-size:25px;
}
a:link{
    color:rgb(22, 41, 105);
}
a:visited{
    color:rgb(7,72,103);
}
h2{
  font-size: 40px;
  color: rgb(6,82,117);  
}
h3{
    font-size: 26px;
    color: rgb(31, 119, 160);  
}
.cl2{
    font-family: system-ui;
}