*{
    font-style: sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    background-color:rgb(126, 164, 179);
    font-family: Arial;
   
}

body main{
  text-decoration: none;
}

body h1{
    margin: 40px 40px 40px 40px;
    font-size: 50px;
    text-align: center;
    color: rgb(7, 72, 102);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-shadow:1px 6px 10px aliceblue ;
}

body h2{
    text-align: center;
    font-size: 40px;
    color:rgb(6, 82, 117);


}
body h3{
    text-align: start;
    font-size: 33px;
    color: rgb(6, 82, 117);
}


body p{
    font-size: 22px;
    text-align: start;
    color: white;
}
body ul li{
    font-size:22px;
    color: white;
}

body ol li{
    font-size: 22px;
    color: white;
}


#speech-bubble {
    width: 600px; 
    color: black;
    height: 300px; 
    background: #5ac4ed;
    position: absolute;
    left:880px;
    top: 290px;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;

 }
 #speech-bubble:before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #5ac4ed;
    border-bottom: 13px solid transparent;
    margin: 13px 0 0 -25px;
 }

 p.speech {
    position: relative;
    color: black;
    width: 600px;
    height: 300px;
    left: 850px;
    top:-350px;
    text-align: center;
    line-height: 74px;
    background-color: rgb(138, 45, 45);
    border: 8px solid rgb(138, 45, 45);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    
  }

  p.speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 300px;
    border: 25px solid;
    border-color:rgb(138, 45, 45) transparent transparent rgb(138, 45, 45);
  }
  p.speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 300px;
    border: 15px solid;
    border-color:rgb(138, 45, 45) transparent transparent rgb(138, 45, 45);
  }

  p.speeech {
    position: relative;
    width: 600px;
    height: 277px;
    left:850px;
    top:-350px;
    color: black;
    text-align: center;
    line-height: 100px;
    background-color: #feb236;
    border: 8px solid #feb236;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    
  }

  p.speeeech {
    position: relative;
    width: 250px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    background-color: #878f99;
    border: 10px solid #878f99;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: black;
    
  }
  p.speeeech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 150px;
    border: 25px solid;
    border-color:#878f99 transparent transparent #878f99;
  }
  p.speeeech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 150px;
    border: 15px solid;
    border-color:#878f99 transparent transparent#878f99;
  }

  p.speeeeech {
    position: relative;
    width: 250px;
    height: 150px;
    color: black;
    text-align: center;
    line-height: 100px;
    background-color: rgb(122, 59, 122);
    border: 16px solid rgb(122, 59, 122);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    
  }
  p.speeeeech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 150px;
    border: 25px solid;
    border-color:rgb(122, 59, 122) transparent transparent rgb(122, 59, 122);
  }
  p.speeeeech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 150px;
    border: 14px solid;
    border-color:rgb(122, 59, 122) transparent transparent rgb(122, 59, 122);
  }
  p.speeeeeech {
    position: relative;
    width: 250px;
    height: 150px;
    color: black;
    text-align: center;
    line-height: 100px;
    background-color: lightblue;
    border: 10px solid lightblue;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    
  }
  p.speeeeeech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 150px;
    border: 20px solid;
    border-color:lightblue transparent transparent lightblue;
  }
  p.speeeeeech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 150px;
    border: 10px solid;
    border-color:lightblue transparent transparent lightblue;
  }

  p.sppeech {
    position: relative;
    color: black;
    width: 500px;
    height: 200px;
    text-align: center;
    line-height: 100px;
    background-color: lightblue;
    border: 10px solid lightblue;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    
  }
  p.sppeech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 200px;
    border: 20px solid;
    border-color:lightblue transparent transparent lightblue;
  }
  p.sppeech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 200px;
    border: 10px solid;
    border-color:lightblue transparent transparent lightblue;
  }

  p.speeechh {
    position: relative;
    width: 500px;
    height: 180px;
    color: black;
    left:850px;
    top:-350px;
    text-align: center;
    line-height: 10px;
    background-color: rgb(84, 189, 84);
    border: 8px solid rgb(84, 189, 84);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    
  }

 
  
 
